project:
  type: website
  output-dir: docs  # <-- FONDAMENTALE per GitHub Pages semplice

website:
  title: "My personal site"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: about.qmd
        text: About

format:
  html:
    theme: cosmo
    toc: true
    css: styles.css